
body {
    background-color: #B2A396;
    margin: 0;
}

.header{
    border-bottom: #233C49 solid 5px;
    margin-bottom: 20px;
}

h1 {
    margin: 64px 150px;
    font-size: 2.5cm;
    color:#3B202E;
    text-align: center;
    background-color: #DFD3C9;
    border: 1px #604847 solid;
    text-transform: uppercase;
   }
   
.botonera {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0;
}

li {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 33%;
    height: 30px;
    border: #3B202E solid 2px;
    margin: 0;
    padding-top: 10px;
    vertical-align: middle;
    color: #3B202E;
    background-color: #DFD3C9;
}

a {
    text-decoration: none;
}

.n1 {
    color: #3B202E;
}

.n2 {
    color: #233C49;
}

img {
    border: groove 10px #492827;
}
.content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}

h2 { 
    font-size: .75cm;
    color:#233C49;
    text-align: center;
    background-color: #B2A396;
    padding: 5px 0px;
    
}

h3 {
    font-size: 0.5cm;
    color:#604847;
    text-align: center;
}

span {
    color: red;

}

p {
    font-size: medium;
    font-family: "times New Roman", Georgia;
    color: #3B202E;
    text-align: justify;
}

h4 {
    background-color: #000000;
    color:#725A67;
    text-align: left;
    margin: 0;
}

/* -------------------------------------- noticia --------------------------------------*/
.sectornoticia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;

}

.noticia {
    margin: 5px;    
    border: 3px solid #492827;
    padding: 6px;
    background-color: #DFD3C9;
    width: 100%;
    height: 60%;
}

.noticiaindividual {
    border: 3px solid #492827;
    padding: 6px;
    background-color: #DFD3C9;
    margin: 15px;
}

.img {
    text-align: center;
}

/* -------------------------------------- publicidad --------------------------------------*/

.sectorpublicidad {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    border: 1.5px solid #492827;
    margin: 0;
}

.publicidad {
    justify-content: center;
    border: 1.5px solid #492827;
    margin: 0%;
    padding: 0px;
}

.imgp {
    width: 266px;
    height: 194px;
    display: flex;
    justify-content: center;
}

/* --------------------------------------fFormulario --------------------------------------*/
.formulario{
    display: flex;
    justify-content: center;
    }

form {
   color: #3B202E;
   border: #3B202E solid 3px;
   width: 450px;
   height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
    
}

input {
    width: 400px;
    height: 30px;
    color: #3B202E;
    border: #492827 solid 3px;
    margin: 3px 20px 0px 20px;    
   
}

textarea {
    width: 400px;
    height: 250px;
    margin: 3px 20px 0px 20px;    
}

label{
    width: 400px;
    height: 30px;
    color: #3B202E;
    margin: 3px 20px 0px 20px;    
}

.input{
    display: flex;
    justify-content: center;
}

.label{
    display: flex;
    justify-content: left;
}

button{
    font-size: large;
    font-family: 'Times New Roman', Times, Garamond;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    height: 50px;
    border: #3B202E solid 3px;
    margin: 20px;
    padding-top: 10px;
    vertical-align: middle;
    color: #3B202E;
    background-color: #DFD3C9;
    text-align: center;
}

.saludo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}