body {
    background-color: #B2A396;
    margin: 0;
}
.header{
    border-bottom: #233C49 solid 10px;
    margin-bottom: 40px;
}
h1 {
    margin: 64px 150px;
    font-size: 1.5cm;
    color:#3B202E;
    text-align: center;
    background-color: #DFD3C9;
    border: 6px #604847 groove;
    text-transform: uppercase;
   }
   
.botonera {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0;
}
li {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 33%;
    height: 30px;
    border: #3B202E solid 2px;
    margin: 0;
    padding-top: 10px;
    vertical-align: middle;
    color: #3B202E;
    background-color: #DFD3C9;
}
a {
    text-decoration: none;
}
.l1 {
    color: #3B202E;
}
.content {
    margin: 20px;
}
.titulo {
    color: #233C49;
    background-color: #DFD3C9;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    padding-top: 20px;
    border: 4px #3B202E groove;
    margin: 50px 100px;
    }
.productos {
    display: flex;
}
.producto {
    margin: 5px;    
    border: 3px solid #233C49;
    width: 32%;
    padding: 6px;
    background-color: #DFD3C9;
    display: block;
    align-items: flex-end;
    
}
.img {
    text-align: center;
    }
img {
    height: 60%;
}
h2 { 
    font-size: .75cm;
    color:#233C49;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    background-color: #B2A396;
    padding: 10px 0px;
    height: 50px;
}

h3 {
    font-size: 0.5cm;
    color:#604847;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

p {
    font-size: large;
    font-family: "times New Roman", Georgia;
    color: #3B202E;
    text-align: center;
    ;
}
h5 {
    background-color: #000000;
    color:#725A67;
    text-align: left;
    margin: 0;
}


